*{font-size: 1vw;}
body{
    background-color: rgb(144, 182, 218);
}

#marvel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 18px;
}

.container{
    width: 100%;
    color: #1a1818;
    background-color: rgb(224, 224, 224);
    text-align: center;
    border-radius: 1vw;
    margin-top: 12vh;
    
}   
.image_container img{
    width: 100%;
}
